<div class="card m-auto" style="width: 500px;">
    <img src="https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{userName}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="edit" class="btn btn-primary">Edit my profile</a>
    </div>
  </div>

