  
<nav class="navbar navbar-expand-lg bg-info shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">NTI project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>

          <li class="nav-item" *ngIf="!_auth.isLoggedin">
            <a class="nav-link" routerLink="/register" routerLinkActive="'active'"
            [routerLinkActiveOptions] ="{exact:true}">register</a>
          </li>
          <li class="nav-item" *ngIf="!_auth.isLoggedin">
            <a class="nav-link" routerLink="/" routerLinkActive="'active'"
            [routerLinkActiveOptions] ="{exact:true}">login</a>
          </li>
          <li class="nav-item" *ngIf="_auth.isLoggedin">
            <a class="nav-link" routerLink="/profile" routerLinkActive="'active'"
            [routerLinkActiveOptions] ="{exact:true}">profile</a>
          </li>
          <li class="nav-item" *ngIf="_auth.isLoggedin">
            <a class="nav-link" routerLink="/profile" routerLinkActive="'active'"
            [routerLinkActiveOptions] ="{exact:true}">{{_auth.userData?.['name']}}</a>
          </li>
          <li class="nav-item" *ngIf="_auth.isLoggedin">
            <a class="nav-link" routerLink="/allCourses" routerLinkActive="'active'"
            [routerLinkActiveOptions] ="{exact:true}">All courses</a>
          </li>
          
         
        </ul>
        <button class="btn btn-danger" (click)="logout()">logout</button>


        
      </div>
    </div>
  </nav>